// importing the mixins file
@import "mixins";


// defining colors
$rockingRed:(
rr1:#D63031,
rr2:#FF3031,
rr3:#E8290B,
);
$beautifulBlue:(
bb1:#3498DB,
bb2:#4834DF,
bb3:#25CCF7,
);
$golfGreen:(
gg1:#45CE30,
gg2:#019031,
gg3:#218F76,
);
$freshYellow:(
fy1:#EEC213,
fy2:#F3B63A,
fy3:#DFAF2B,
);
$oldGrey:(
og1:#777E8B,
og2:#758AA2,
og3:#A4B0BD,
);


// functions getting the colors values
@function rr($a){
  @return map-get($rockingRed,$a);
}
@function bb($a){
  @return map-get($beautifulBlue,$a);
}
@function gg($a){
  @return map-get($golfGreen,$a);
}
@function fy($a){
  @return map-get($freshYellow,$a);
}
@function og($a){
  @return map-get($oldGrey,$a);
}


// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
body{
  .c{
    @include c();
    h1{
      font-family: 'Old Standard TT', serif;
    }
  .ct{
    label{
      @include ct-label();
    }
  }
}
.comp{
  text-decoration: line-through;
}
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
body{
}
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
body{
}
 }


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
body{
}
 }


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
body{
}
 }
