body .c {
  background: linear-gradient(to right, #8A2387, #E94057, #F27121);
  border-radius: 20px; }
  body .c h1 {
    font-family: 'Old Standard TT', serif; }
  body .c .ct label {
    font-size: 1.5em;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif; }
body .comp {
  text-decoration: line-through; }

/*# sourceMappingURL=todoapp.css.map */
